
*:not(dialog) {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--sidebar-pinkish);
}

a {
    text-decoration: none;
}

a::after {
    text-decoration: none;
}

:root {
    /* theme-blue */
    --light-blue-bg: #419197;
    --dark-blue-border: #12486B;
    --sidebar-pinkish: #E5C3A6;
    --sidebar-section-bg: #B4A293;
    --addBtn-blue: #78D6C6;
    --bg-color: #EEE2AE;
    --footer-blue: #419197;
}

.menu-title {
    color: #b3b3b3;
    font-family: quicksand;
    font-size: 1.15em;
    font-weight: 600;
    text-shadow: 0px 2px 5px black;
}

.dialog-btns {
    display: flex;
    gap: 8px;
}

#close-btn{
    background-color: #B46060;
}

@font-face {
    font-family: quicksand;
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 10,
  'opsz' 24
}

#rocket-icon {
    color: white;
    font-size: 3em;
    display: flex;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue-bg);
    border-bottom: solid 4.5px var(--dark-blue-border);
    grid-column: 1/3;
    padding: 18px 65px 18px 65px;
}

.footer {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-blue);
    border-top: solid 4.5px var(--dark-blue-border);
    padding: 16px;
    
}

.footer p {
    font-family: quicksand;
    color: white;
}

.container {
    display: grid;
    gap: 50px;
}

.sidebar {
    background-color: var(--sidebar-pinkish);
    border-right: solid 4.5px var(--dark-blue-border);
    grid-row: 2/4;
}

.sidebar-limit {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 65px;
    padding-top: 35px;
}



.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item p:hover {
    text-decoration-color: rgb(255, 255, 255);
}

.menu-item p,
.total-pages {
    font-family: quicksand;
    color: white;
    font-weight:800;
    font-size: 1.6em;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

.stats p{
    color: white;

}

.bg-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--sidebar-section-bg);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    border: solid 2.5px black;
    border-bottom: solid 7px black;
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 17px;
    color: white;
    justify-self: center;
    align-self: center;
}

.deleteBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: quicksand;
    font-size: 1.2em;
    background-color: #40513B;
    color: white;
    width: 40px;
    height: 40px;
    transition: all .4s;
}



.cardSectionDelete {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    grid-row: 2/3;
    margin-bottom: 20px;
    margin-right: 20px;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: #2c3828;
}

.trashBtn:hover {
    cursor: pointer;
    background-color: #D3756B;
} 

.dashboard-title h1 {
    font-family: quicksand;
    font-size: 2.75em;
    font-weight: 600;
}



.add-new:hover {
    cursor: pointer;
}

dialog#modal {
    border: none;
    background-color: transparent;
}

.page-title {
    justify-self: center;
    font-family: quicksand;
    font-size: 2.75em;
    color: #40513B;
    margin-top: 65px;
    margin-bottom: 35px;
}

.input-container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 300px;
    gap: 13px;
    padding: 20px;
    border-radius: 15px;
    background-color: #9EB384;
    border: 3px solid #435334;
    box-shadow: 4px 4px #435334;
    font-family: quicksand;
    font-weight: 600;
    color: #435334;
    box-shadow: inset -50px -50px 100px #8d9f75,
                inset 50px 50px 100px #afc793;
}

.input-container input {
    border-radius: 20px;
    width: 70%;
    padding-left: 5px;
    min-height: 25px;
    background-color: #609966c2;
    color: white;
    font-family: quicksand;
    font-weight: 700;
    border: solid 2px #40513B;
    transition: all .4s;
}

.input-container input:focus {
    border: solid 2px #40513B;
    min-height: 25px;
    width: 80%;
    background-color: #456849c2;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.404);
}

.input-container button {
        border: none;
        display: flex;
        padding: 0.75rem 1.5rem;
        background-color: #435334;
        color: #ffffff;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        align-items: center;
        border-radius: 0.5rem;
        user-select: none;
        gap: 0.75rem;
        box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
        transition: all .6s ease;
      
}

.input-container button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 45px;
    padding: 25px;
    justify-items: center;
    background-color: var(--bg-color);
}

.card {
    font-family: quicksand;
    background-color: #609966;
    border-left: solid 9px #465a40;
    box-shadow: 0px 7px 12px gray;
    color: #EDF1D6;
    border-radius: 15px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 2fr 1fr;
    align-items: center;
    gap: 10px;
    /* padding: 40px 25px 40px 25px; */
    width: 100%;
    height: 305px;
}

.card p {
    font-size: 1.14em;
}

.card h3 {
    font-size: 1.3em;
}

.sectionContainer {
    min-width: 100%;
    margin: 20px;
}

.addBookBtn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.addBookBtn p, button {
    font-family: quicksand;
    color: white;
}

.addBookBtn p {
    font-size: 22px;
    font-weight: 600;
}

.addBookBtn button{
    font-size: 36px;
    font-weight: 600;
    background-color: var(--addBtn-blue);
    border: solid 2px black;
    border-bottom: solid 5px black;
    border-right: solid 5px black;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}